:root {
  --logo-color: rgb(222, 56, 49);
  --text-color: black;
  --background-color: rgb(252, 252, 252);
}

@font-face {
  font-family: "Stone Sans";
  src: url("/Fonts/Stone\ Sans\ Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Frutiger Roman";
  src: url("/Fonts/Frutiger\ Roman.woff2") format("woff2");
}
