* {
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  margin: 0 2rem 0 2rem;
}
.headerWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

h1 {
  font-family: Stone Sans;
  color: var(--logo-color);
  font-weight: bold;
}
.linkWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
a {
  text-decoration: none;
  font-family: Stone Sans;
  color: var(--text-color);
  align-items: center;
}
iframe {
  width: 100%;
  margin-top: 3rem;
  border-radius: 8px;
  object-fit: contain;
}
canvas {
  max-width: 100%;
}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 760px) {
  h1 {
    font-size: 50px;
  }
  iframe {
    margin-top: 0;
  }
  .linkWrapper {
    gap: 3rem;
  }
}
